@model ControlProductividadCIISA.Models.tbl_Usuario
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-left:500px;padding-top:25px" >
    dasda
    @Html.TextBoxFor(model => model.Nombre)
</div>
