<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
          
            <li class="nav-title">Tareas</li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> Crear Tareas
                </a>
            </li>
          

            <li class="nav-title">Reportes</li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-list" aria-hidden="true"></i> Crear reporte
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-list" aria-hidden="true"></i> Histórico
                </a>
            </li>
         

            <li class="nav-title">Mantenedores</li>
            <li class="nav-item">
                <a class="nav-link" href="colors.html">
                    <i class="fa fa-tasks"></i> Proyectos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-users" aria-hidden="true"></i> Usuarios
                </a>
            </li>
           
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>

