<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
          
            <li class="nav-title">Proyectos</li>
            <li class="nav-item">
                <a class="nav-link" href="colors.html">
                    <i class="fa fa-plus-circle"></i> Asignar proyectos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-hourglass-start"></i> Estado
                </a>
            </li>
            <li class="nav-title">Mesa de ayuda</li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-hourglass-start"></i> Estado solicitudes
                </a>
            </li>
           
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>

