
@{
    ViewBag.Title = "SideBar";
    Layout =null;
}

<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">

            <li class="nav-title">Tareas</li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-eye"></i> Asignados
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-eye-slash"></i> En Pause
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-check-square-o"></i> Completados
                </a>
            </li>
           
            <li class="nav-title">Tareas asignadas</li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> Solicitudes
                </a>
            </li>

            <li class="nav-title">Reportes</li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-list" aria-hidden="true"></i> Proyectos
                </a>
            </li>

        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>

