@model List<ControlProductividadCIISA.Models.ViewModels.OrigenModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

<div style="padding-left:300px;padding-top:25px">
    <a href="~/Origen/#" class="btn btn-primary">Nuevo</a>

</div>

<div class="col-md-8">
    <table class="table">
        <div>
            <div>
                <tr>
                    <th>Nro.</th>
                    <th>Nombre</th>
                    

                </tr>
            </div>
        </div>
        @foreach (var oElemneto in Model)
            {
            <tr>
                <td>@oElemneto.id</td>
                <td>@oElemneto.Nombre</td>
                
            </tr>

        }
